.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f8;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.loginIcon {
  padding: 1rem;
  border-radius: 20px;
  background-color: #136dec;
  font-size: 1.5rem;
  color: #ffffff;
  box-shadow: 0 0 10px #136dec;
}

.loginContainer {
  background-color: #ffffff;
  width: 22%;
  min-width: 350px;
  border-radius: 20px;
  padding: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.loginContainer .email {
  text-align: start;
}

.loginInp {
  background-color: #f8fafc;
  border: 1.5px solid #e9edf3;
  border-radius: 5px;
  margin-bottom: 1.4rem;
}

.loginPass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginPass p {
  margin: 0;
}

.forgot {
  color: #136dec;
  cursor: pointer;
}

.remember {
  display: flex;
}

.loginBtn {
  background-color: #136dec;
  color: #ffffff;
  width: 100%;
  padding: 0.5rem;
  border: 0;
  font-size: 1.1rem;
  border-radius: 10px;
}

.others {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.thirdParty {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.3rem 1rem;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
}

.thirdParty p {
  margin: 0;
}

.compIcon {
  font-size: 1.4rem;
}

.toSignIn {
  display: flex;
  gap: 0.2rem;
  background-color: #e3edf7;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  border-top: 2px solid #c3d8ec;
}
.toSignInBtn {
  cursor: pointer;
  color: #136dec;
}

.credentials {
  color: #a2a9b6;
}

@media screen and (max-width: 380px) {
  .loginContainer {
    min-width: 300px;
  }
  .welocomeMsg {
    font-size: 0.95rem;
  }
}
