.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 60vw;
  height: 100%;
  background: gray;
}

.loginBox {
  width: 40vw;
  height: 100%;
  background: rgb(6, 187, 133);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgb(85, 85, 85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1rem;
}
