.auditMain {
  overflow: auto;
  width: 100%;
}

.auditMain::-webkit-scrollbar {
  display: none;
}

.popUpWraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.auditPopUp {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  height: 53%;
  width: 80%;
  z-index: 1000;
  border-radius: 10px;
}

.tableWrapper {
  display: flex;
  align-items: center;
}

.table {
  border: 1px solid black;
  padding: 1rem;
}

.tableObject {
  text-align: center;
  /* color: #fff; */
}

.auditTitle {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
  margin: 0;
}

.pagination {
  width: 100%;
  align-items: center;
  text-align: center;
  letter-spacing: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.pages {
  font-size: 2rem;
  margin: 0;
}

.pages p {
  cursor: pointer;
}
