.bdy {
  overflow: auto;
}

.bdy::-webkit-scrollbar {
  display: none;
}

.popUpWraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.popUp {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(18, 94, 28);
  height: 50%;
  width: 25%;
  z-index: 1000;
}

.tableWrapper {
  display: flex;
  align-items: center;
}

.table {
  border: 1px solid black;
  padding: 1rem;
}

.tableObject {
  text-align: center;
  /* color: #fff; */
}

.auditTitle {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
  padding-bottom: 1rem;
}
