.wraper {
  background-color: #f6f7f8;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.profile {
  background-color: #fff;
  width: 30%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  box-shadow: 0 0 5px #d3d1d1;
}

.profileHeader img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-top: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 15px #999999;
}

.valueBoxes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 20%;
}

.vbox {
  width: 35%;

  background-color: #065942;
  border-radius: 15px;
}
.bal {
  background-color: #09a473;
}

.vboxTopSide {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

.vboxHelper {
  padding: 0rem 1rem 1rem;
}

.vboxIcon {
  font-size: 2rem;
  color: #5ce4b9;
}

.amount {
  font-size: 1.7rem;
  color: #fff;
}

.btnWrapper {
  width: 65%;
}

.ProfileBtn {
  width: 100%;
  margin: 0.4rem;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.add {
  margin-top: 2rem;
  background-color: #0f172a;
}

.sell {
  border: 2px solid #e2e8f0;
  background-color: #fff;
  color: #000;
}

.audit {
  color: #94a3b8;
  background-color: transparent;
}
