.wraper {
  background-color: rgb(4, 18, 31);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  background-color: rgb(64, 182, 93);
  width: 30%;
  height: 60%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.profileHeader img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  margin-top: 20px;
}

.valueSection {
  display: flex;
  justify-content: space-between;
  align-self: center;
  gap: 2rem;
}

.statBox {
  background-color: rgb(18, 94, 28);
  padding: 3rem;
  border-radius: 15px;
  position: relative;
  border: 2px solid black;
  color: #ffff;
}

.valueTitle {
  position: absolute;
  top: 0;
  font-size: 1.1rem;
  right: 50%;
  transform: translate(50%, -50%);
}

.balance {
  font-size: 1.8rem;
}

.addFounds {
  position: absolute;
  top: 0px;
  right: 5px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
}
