.popUpWraper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
}

/* .background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(0, 0, 0, 0.7);
  height: 100vh;
  width: 100vw;
  z-index: 100;
} */

.popUp {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(18, 94, 28);
  height: 50%;
  width: 25%;
  z-index: 1000;
}
