.forget {
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.FRcontainer {
  width: 20%;
  height: fit-content;
  background-color: #fff;
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  flex-direction: column;
  border-radius: 20px;
  padding: 2rem;
}

.resetIcon {
  color: #136dec;
  font-size: 2.4rem;
  align-self: center;
}

.FRcontainer p {
  text-align: center;
}

.FpTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: end;
}

.rightElems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.FpIcon {
  display: flex;
  gap: 0.4rem;
}

.close {
  padding: 0.6rem;
  background-color: #f6f7f8;
  border-radius: 100%;
  font-size: 1.5rem;
  cursor: pointer;
}

.formContainer {
  width: 100%;
}

.formContainer form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.remail {
  width: 100%;
  padding: 0.4rem 0;
  margin: 0.4rem 0;
  border: 1.5px solid #e2e8f0;
  border-radius: 5px;
  outline: none;
}

.subBtn {
  background-color: #136dec;
  color: #ffffff;
  padding: 0.5rem;
  border: 0;
  font-size: 1.1rem;
  border-radius: 10px;
  margin-top: 1.5rem;
}
