.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(64, 182, 93);
}

.profileImg {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin: 0.5rem 1rem;
}

ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}
