.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfdfe;
  padding: 0 1rem;
  border-bottom: 0.3px solid rgb(226, 226, 226);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  height: 70px;
}

.navAppLogo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  cursor: pointer;
}

.navIcon {
  background-color: #136dec;
  padding: 0.7rem;
  color: #fff;
  border-radius: 30%;
}

.left {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.links li {
  cursor: pointer;
  font-size: 1.2rem;
  color: #65758c;
}

.links li:hover {
  /* animation: scale 0.3s ease-in-out both; */
  border-bottom: 1.6px solid #136dec;
}

.profileWrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.bell {
  font-size: 1.5rem;
  color: #94a3b8;
  cursor: pointer;
}

.profileImg {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 2.7rem;
  padding: 0.3rem;
}

.dropdownLink {
  padding: 12px;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid black;
}

.dropdownLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
