.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #9197a0;
  flex-direction: row;
  padding: 0.5rem 0;
  border-top: 0.3px solid rgb(226, 226, 226);
}

.footer p {
  margin-left: 1rem;
}

.footer ul {
  list-style: none;
  gap: 2rem;
  display: flex;
  margin-right: 1rem;
}

.footer li {
  text-decoration: none;
}
