.mainLanding {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.containers {
  width: 100%;
  height: 25%;
  /* padding: 4rem 0; */
  /* background-color: aqua; */
  display: flex;
  justify-content: space-evenly;
}

.cont {
  width: 25%;
  background-color: #fff;
  height: 100%;
  padding: 5px 1rem;
  border-radius: 10px;
}

.topCont {
  display: flex;
  justify-content: space-between;
}

.ContIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f0fd;
  color: #136dec;
  border-radius: 10px;
  font-size: 2rem;
  padding: 0 0.7rem;
}

.profitCont {
  align-items: center;
  display: flex;
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
  font-weight: 400;
}

.mainCont {
  margin: 1rem 0;
}

.details {
  margin: 1rem 0;
  color: #78869a;
}

.sum {
  font-size: 2.3rem;
  margin: 0.1rem;
}
