.main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgb(4, 18, 31);
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  margin: 0;
  text-align: center;
  align-self: center;
}

.stockContainer {
  background-color: rgb(64, 182, 93);
  height: 50%;
}

.stocks {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: 0.4rem;
  border: 1px solid rgb(4, 18, 31);
  text-align: center;
}

.stockPrice {
  margin: 0;
}

.displayContainer {
  background-color: rgb(64, 182, 93);
  height: 50%;
  width: 40%;
}
