.main {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(4, 18, 31);
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.title {
  margin: 0;
  text-align: center;
  align-self: center;
  border-bottom: 1px solid rgb(4, 18, 31);
}

.stockContainer {
  background-color: rgb(64, 182, 93);
  height: 50%;
  overflow: auto;
  width: 15%;
}

.stocks {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  padding: 0.4rem;
  border-bottom: 1px solid rgb(4, 18, 31);
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
}

.stocks p {
  margin: 0rem 1rem;
}

.stockPrice {
  margin: 0;
}

.displayContainer {
  background-color: rgb(64, 182, 93);
  height: 50%;
  width: 40%;
  overflow: auto;
}

.stockHeader {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.displayTitle {
  font-size: 2rem;
}

.price {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.charts {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.graph {
  background-color: black;
  height: 100%;
  width: 80%;
}

.selectPeriod {
  display: flex;
  gap: 4rem;
  margin-top: 1rem;
}

.period {
  cursor: pointer;
}
