.mainLanding {
  display: flex;
  flex-direction: column;
  background-color: #f6f7f8;
  padding: 1rem;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.containers {
  width: 100%;
  height: 25%;
  /* padding: 4rem 0; */
  /* background-color: aqua; */
  display: flex;
  justify-content: space-evenly;
}

.cont {
  width: 25%;
  background-color: #fff;
  height: 100%;
  padding: 5px 1rem;
  border-radius: 10px;
}

.topCont {
  display: flex;
  justify-content: space-between;
}

.ContIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7f0fd;
  color: #136dec;
  border-radius: 10px;
  font-size: 2rem;
  padding: 0 0.7rem;
}

.profitCont {
  align-items: center;
  display: flex;
  padding: 0.2rem 0.3rem;
  border-radius: 4px;
  font-weight: 400;
}

.mainCont {
  margin: 1rem 0;
}

.details {
  margin: 1rem 0;
  color: #78869a;
}

.sum {
  font-size: 2.3rem;
  margin: 0.1rem;
}

.graph {
  margin: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chartBottom {
  border-radius: 12px 12px 0 0;
  background-color: #ffffff;
  border: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: space-between; */
}

.stockStatus {
  display: flex;
  justify-content: space-between;
  padding: 0 1.4rem;
}

.stat {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.status {
  background-color: #d1fae5;
  color: #059669;
  padding: 0.1rem 0.7rem;
  font-size: 1.1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  border-radius: 10px;
}

.prices {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.price {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0;
}

.avrPrice {
  font-size: 0.85rem;
  justify-content: center;
  display: flex;
}

.profit {
  margin: 0;
}

.profitSec {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #059669;
}
.lossSec {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: red;
}

.btnSection {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bBtn {
  width: 20%;
  border: 0;
  outline: 0;
  padding: 0.6rem;
  color: #fff;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  border-radius: 0.5rem;
  margin: 0.7rem 0.3rem;
}

.profitContainers {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem 0;
  background-color: #fff;
  border-radius: 0 0 12px 12px;
}

.profContainer {
  padding: 1rem;
  border: 2px solid #e3e9f0;
  border-radius: 20px;
  width: 20%;
  text-align: center;
  background-color: #fff;
}

.profContTitle {
  font-weight: bold;
  font-size: 1.2rem;
  color: #6d7c92;
}

.listTitles {
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
  width: 100%;
}

.listTitles li {
  list-style: none;
}

.stocksUl {
  display: flex;
  justify-content: space-evenly;
  background-color: #fff;
  margin: 0;
  width: 100%;
  box-shadow: 0 0 1px black;
}

.stocksUl li {
  list-style: none;
  padding: 1rem 0;
  cursor: pointer;
}

.stockContainer {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topStockContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

.topStockContainer p {
  color: #136dec;
  text-decoration: underline;
  margin-right: 0.8rem;
}

.stockContainerHelper {
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
}

.allocationLi {
  width: 20%;
  text-align: center;
}
