.signUp {
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.signupBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.signupContainer {
  width: 25%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  /* padding: 1rem; */
  border-radius: 10px;
  overflow: hidden;
}

.signupHelper {
  padding: 1rem;
}

.signupContainer form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputCont {
  display: flex;
  flex-direction: column;
}

.signUpInp {
  padding: 0.5rem;
  background-color: #f8fafc;
  border: 1px solid rgb(159, 154, 154);
  border-radius: 5px;
  margin-top: 0.3rem;
}
