.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  isolation: isolate;
}

.box {
  width: 60vw;
  height: 100%;
  background-image: url(/public/stock_improved.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loginBox {
  z-index: -1000;
  width: 40vw;
  height: 100%;
  background: rgb(4, 18, 31);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  background: rgb(57, 234, 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffff;
  border-radius: 30px;
}

.container::after {
  content: "";
  width: 100%;
  background-image: conic-gradient(from var(--angle), transparent 60%, #05bd05);
  height: 100%;
  z-index: -100;
  position: absolute;
  padding: 0.1rem;
  border-radius: 30px;
  animation: spin 3s linear infinite;
  filter: blur(15px);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes spin {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}

.switch {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.openedBtn {
  transform: scale(1.2);
}

form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  /* gap: 0.5rem; */
  padding: 1rem 2rem;
  color: #000;
  isolation: isolate;
}

form h1 {
  justify-content: center;
  text-align: center;
}

form label {
  font-weight: bold;
}

form input {
  padding: 5px;
  border: 0;
  outline: 0;
  gap: 0.5rem;
  margin: 0.5rem;
}

.btn {
  align-self: center;
  width: 60%;
  padding: 0.3rem 0.7rem;
  background-color: rgb(6, 209, 40);
  border: 0;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
