.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wraper {
  background-color: #f6f7f8;
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
